{% extends 'products/base.html' %}

{% load static %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block content %}
  <div class="row row-cols-2 my-4">
    <img class="border rounded" style="height: 500px; width: 500px; object-fit: cover;" src="{{ associate.logo.url }}" alt="logo" />
    <div>
      <div>
        <h2>{{ associate.name }}</h2>
        <h3><a href="" class="text-decoration-none">{{ associate.location }}</a></h3>
        {% if user.is_associate and associate.owner == user %}
          <small><a href="{% url "associates:edit" associate.slug %}">Edit</a></small>
        {% endif %}
        <br />
      </div>
      <div style="margin-top: 22rem;">
        {% if user.is_associate and associate.owner == user %}
          <a class="text-decoration-none text-success" href="{% url "products:create" %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5"/>
              <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
            </svg>
            New product
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div>
    <p>{{ associate.description }}</p>
  </div>
  <hr />

  {% if product_list %}
    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 justify-content-center">
      {% for product in product_list %}
        <a href="{% url 'products:details' product.pk %}" class="col mb-2 text-dark text-decoration-none" style="width: 300px;">
          <div class="shadow">
            <img class="img-fluid" style="width: 300px; height: 300px; object-fit: cover" src="{{ product.logo.url }}" alt="Product Image" />
            <div class="ms-2">
              <h5>{{ product.name }}</h5>
              <p>${{ product.price }}</p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <br />
    <h3>This associate has no products</h3>
  {% endif %}
{% endblock %}
